*{
    padding: 0;
    margin: 0;
}

.input{
    margin: 15px;
    display: flex;
}

.input > input{
    margin: 0 15px;
}

li{
    list-style: none;
    margin: 20px 15px;
}

.box{
    background-color: white;
    padding: 20px;
    border: 3px solid #FFCB05;
    margin: 20px 20px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #3C5BA6;
}

.image-conteneur{
    display: flex;
    justify-content: center;
}

img{
    width: 425px;
    height: 150px;
    margin: 15px;
}

