*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
  
caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead {
  background-color: rgb(190, 245, 169);
}

th {
  position: sticky;
  top : 0;
  background-color: rgb(190, 245, 169);
}
th,td {
  border: 1px solid rgb(160, 160, 160);
  padding: 8px 10px;
  text-align: center;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(236, 250, 211);
}

.image-conteneur{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.listePokemon, .btnGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page{
  font-size: 0.85em;
}

.bouton{
  background-color: #FFF;
  border: 2px ridge rgb(190, 245, 169);
  padding: 3px 5px;
  margin: 10px 15px;
  transition-duration: 0.4s;
}

.bouton:hover{
  background-color: rgb(190, 245, 169);
  color: #FFF;
}

.bulle{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index : 1;
  background-color: #FFF;
  padding: 5px;
  border: 3px solid rgb(190, 245, 169);
  font-size: 0.85em;
}

.bulle img{
  width:  200px;
  height: 200px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centre la popup horizontalement et verticalement */
  background-color: white;
  padding: 20px;
  border: 2px solid rgb(190, 245, 169);
  border-radius: 5px;
  z-index: 1001; /* Assure que la popup est au-dessus de l'overlay */
  display: none; /* Démarrez avec la popup masquée */
  width: 500px;
}

.divGauche{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.headPopup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headPopup .titlePopup{
  background-color: rgb(190, 245, 169);
  padding: 2px;
  margin-bottom: 5px;
}

.titlePopup{
  display: flex;
  align-items: center;
  background-color: rgb(190, 245, 169);
  margin-bottom: 10px
}

.titlePopup h2{
  width: 200px;
  text-align: center;
}

.types{
  display: flex;
}

.types img{
  margin: 2px;
}

.stats{
  display: flex;
  justify-content: center;
}

.divIcon, .divStat, .divLabel{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  font-size: 1.1em;
}

.divIcon img{
  width: 15px;
  height: 15px;
}

.divLabel{
  margin-right: 20px;
}

.divLabel span{
  font-weight: bolder;
}

.contenu{
  position: absolute;
  display: flex;
  opacity: 0;
  border: 4px solid rgb(190, 245, 169);
  width: 91%;
}

.mesOnglets{
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  height: auto;
}



.activeContenu{
  animation: fade 0.5s forwards;
}

.fermeture{
  position : absolute;
  right : 2em;
  cursor : pointer;
  padding: 3px;
  display: flex;
  justify-content: center;
}

.fermeture:hover{
  background-color: rgb(190, 245, 169);
  border-radius: 100%;
  padding: 3px;
}

.move{
  position: absolute;
  right: 0px;
  padding: 3px;
  border-color:  rgb(190, 245, 169);
  border-style: none none solid solid;
  border-width: 2px;
}

@keyframes fade {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.row-attribute {
  display: flex;
  padding: 1em;
}
.label{
  font-weight: bold;
  margin-right: 5px;
}

.onglet{
  background-color: #FFF;
  color: black;
  border: none;
  padding: 10px 10px 5px 10px; 
  height: 30px;
}
.onglet:hover{
  background-color: rgb(236, 250, 211);
  cursor: pointer;
  color: black;
}

.active{
  background-color: rgb(190, 245, 169);
  color: black;
  transition: all 0.3s ease;
}

.part2{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


@media only screen and (max-width: 700px){
  table, thead, tbody, tr, th, td {
      display: block;
  }

  thead {
      display: none;
  }

  td {
      padding-left: 150px;
      position: relative;
      margin-top: -1px;
      background: #FFF;
  }

  td:nth-child(odd) {
      background-color: rgb(236, 250, 211);
  }

  td::before {
      padding: 10px;
      content: attr(data-label);
      position: absolute;
      top: 0;
      left: 0;
      width: 130px;
      bottom: 0;
      background-color: rgb(190, 245, 169);
      display: flex;
      align-items: center;
      font-weight: bold;
  }

  tr {
      margin-bottom: 1rem;
  }

  th + td {
      padding-left: 10px;
  }
}



